# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Audio files
*.wav
*.mp3
*.flac
*.ogg

# Bark / TTS models
bark/assets/
bark/temp/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
